
<div class="row mx-3">
    <div class="col-xs-12">
        <img src="{{recipeDetails.imagePath}}" alt="" class="img-responsive">
    </div>
</div>

<div class="row mx-3">
    <div class="col-xs-12">
        <h1>{{recipeDetails.name}}</h1>
    </div>
</div>

<!-- <div class="col-xs-12"> -->
    <h4 class="mx-3">Description</h4>
    <ul class="list-group-item" style=" border: 0px ">
        <li
            class="list-group-item"
            *ngFor="let ingredient of recipeDetails.ingredients"
        >
            {{ ingredient.name}} - {{ ingredient.amount }}
        </li>
     </ul>
<!-- </div> -->


<div class="row mx-3" >
    <div class="col-xs-12">
        <div class="btn-group" appDropdown  #r="appDropdown" >
            <button
             type="button"
             class ="btn btn-primary dropdown-toggle" 
             (click)='changeStatusDropdown()'>
            Manage Recipe<span class="caret"></span>
            </button>
            <ul class="dropdown-menu"  [ngClass]="{'show':r.isOpen}">
                <li><a (click)= "onAddToShoppingList()" style="cursor: pointer;" >To shopping List</a></li>
                <li><a (click)="navigateToEditPage()"> Edit Recipe</a></li>
                <li><a>Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>



