<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success btn-sm" (click)="navigateToNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>

<!--
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item
            *ngFor="let recipeEl of recipes"
            [recipeItems]="recipeEl" 
            (recipeItem)="recipeDetails($event)"></app-recipe-item>
    </div>
</div>
 -->

<!-- using cross component -->

<div class="row">
    <div class="col-xs-12 ">
        <app-recipe-item
            *ngFor="let recipeEl of recipes; let i = index"
            [recipeItems]="recipeEl"
            routerLink="{{i}}"
            [index] = "i"
            routerLinkActive ="active" 
            [routerLinkActiveOptions]="{exact: true}">
        </app-recipe-item>
    </div>
</div>

<!--
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-recipe-item
        *ngFor="let recipeEl of recipes; let i = index"
        [recipeItems]="recipeEl"
        [index]="i"></app-recipe-item>
    </div>
  </div>
-->
  
  





 